*.aux
*.log
*.dvi
*.synctex.gz
*.toc
*~
~*
*.user
__MACOS
*.class


*target*
*.jar
*.war
*.ear
*.class

# eclipse specific git ignore
*.pydevproject
.project
.metadata
projekt/Schiebepuzzel/bin/**
projekt/Schiebepuzzel/tmp/**
projekt/Schiebepuzzel/tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
projekt/Schiebepuzzel/classpath
projekt/Schiebepuzzel/settings/
projekt/Schiebepuzzel/loadpath

# External tool builders
projekt/Schiebepuzzel/externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

Blatt8/Afg1/.metadata/
Blatt8/Afg1/.recommenders/